.container
    .post-block
        - for (var x = 0; x < 5; x++)
            .post-item
                .post-item__title
                    span Заголовок поста
                .post-item__img
                    img(src="img/images.png")
                .post-item__text
                    span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, nisi.
